snippet ddat "Long date, day first."
	`strftime("%d %B, %Y")`

snippet ddatt "Long date, day time."
	`strftime("%d %B, %Y %H:%M")`

snippet sdat "Short date, increasing."
	`strftime("%d-%m-%Y")`

snippet sdatt "Short date, with time."
	`strftime("%d-%m-%Y %H:%M")`
